
.loginPanel {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* background-color: white; */
    width: 500px;
    height: 400px;
}

.loginTitle {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'JK Abode', sans-serif;
    font-size: 52pt;
}

.loginForm {
    width: 400px;
}

.inputBox {
    margin-bottom: 40px;
    border: 0;
}

.loginBtn {
    width: 400px;
    height: 40px;
    background-color: #ffe552;
    color: white;
    border: none;
}

.loginBtn:hover{
    background-color: #ffde20;
}